<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/vue.js"></script>  
        <title>Manipulando Css com Vue</title>
    </head>

    <style>
    </style> 
    <body>
        <div id="app">
            <h1>Manipulando css com vue</h1>
            <input type="text" placeholder="frase que deseja!" v-model="inputFrase">
            <input type="number" placeholder="Tamanho da Letra!" v-model="inputTamanhoFrase" @keyup.enter="hadleChangeTextSize">
            <br>
            <div :style="estilo"><br>
                {{inputFrase}}
            </div>
            <button @click="handleShowOrNotBackGround">
               <span v-text="backgroundOn ? 'Remover Background' : 'Aplicar Background'"></span>
            </button>
        </div>
    </body>
    <script>
        const options = {
            el:'#app',
            data:{
                estilo:{
                    background:'red',
                    width: 150 + 'px',
                    height:'auto',
                    padding:50 + 'px',
                    fontSize: 20 + 'px',
                    margin: 10 + 'px',
                    boxSizing: 'borderbox'
                },
                inputFrase:"",
                inputTamanhoFrase:"",
                backgroundOn:true
            },

            methods: {
                hadleChangeTextSize(){
                    this.estilo.fontSize = this.inputTamanhoFrase + 'px'
                },
                handleShowOrNotBackGround(){
                    this.backgroundOn = !this.backgroundOn
                    !this.backgroundOn ? this.estilo.background = '' : this.estilo.background = 'red'
                }
            }
        }
        const vm = new Vue(options)
    </script>
</html>