<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/vue.js"></script>
        <title>Document</title>
    </head>
    <body>
        <div id="app">
            <h4>Adicionar Clientes</h4>
            <span>Nome:</span> <input type="text" id="inputNome"><br>
            <span>Idade:</span> <input type="text" id="inputIdade"><br>
            <span>Plano:</span> <input type="text" id="inputPlano"><br>
            <button @click="addCliente">Adicionar</button>
            <hr>
            <h4>Ultimo cliente cadastrado</h4>
            <p v-if="clientes.length > 0">
               {{lastSignedUpClient}}
            </p>
            <p v-else>Não há clientes cadastrados</p>
            <h4>Clientes Cadastrados</h4>
            <p v-for="(cliente, index) in clientes" :key="index">
                {{cliente.nome}}
            </p>
            <hr>
            <h4>Clientes do plano Vip</h4>
            <p v-for="cliente in clientVipPlan">
                {{cliente.nome}}
            </p>
        </div>
    </body>
    <script>
            
        const options = {
            el:"#app",
            data:{
                clientes : []
            },
            methods:{
                addCliente(){
                    this.clientes.push({
                        nome: inputNome.value,
                        idade: inputIdade.value,
                        plano: inputPlano.value.toLowerCase()
                    })
                }
            },
            computed:{
                lastSignedUpClient(){
                    const key = this.clientes.length - 1
                    let txt = ''

                    txt += "Cliente:" + this.clientes[key].nome
                    txt += " Idade do Cliente:" + this.clientes[key].idade
                    txt += " Plano do Cliente:" + this.clientes[key].plano

                    return txt
                },
                clientVipPlan(){
                    return this.clientes.filter(paciente => paciente.plano === "vip")
                }
            }
        }

        new Vue(options)
    </script>
</html>